@import '../animations.module';
.peopleneeds {
  background-image: url('/images/bg-needs.svg');
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  .peopleneeds__info {
    background-image: url('/images/header-need.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.peopleneeds__cards {
  .peopleneeds__card {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;

    &:hover {
      .peopleneeds__card-title {
        color: rgba(var(--main-color-hover));
      }

      .peopleneeds__card-divider {
        background: rgba(var(--main-color-hover));
      }

      .peopleneeds__circle-animation {
        animation: rotateAroundAxis 2s linear;
        border: 1px dotted rgba(var(--main-color-hover));
      }

      .peopleneeds__card-image {
        border: 2px solid rgba(var(--main-color-hover));
        img {
          filter: grayscale(0%);
        }

        &::before,
        &::after {
          border-right: 7px solid rgba(var(--main-color-hover));
        }
      }
    }
  }

  .peopleneeds__card-title {
    color: var(--main-color);
    text-align: center;
    transition: color 0.3s ease;
  }

  .peopleneeds__card-divider {
    width: 15%;
    height: 3px;
    background: var(--main-color);
    transition: background 0.3s ease;
  }

  .peopleneeds__card-image {
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
    border: 2px solid var(--main-color);

    .peopleneeds__circle-animation {
      content: "";
      position: absolute;
      border-radius: 50%;
      width: 110%;
      height: 110%;
      border: 1px dotted var(--main-color);
      top: -5%;
      left: -9%;
      z-index: 2;
      transform-origin: center;
    }

    img {
      width: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: filter 0.3s ease;
      border-radius: 50%;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 105%;
      right: 50%;
      border-right: 7px solid var(--main-color);
      border-top: 7px solid transparent;
      transform: rotate(45deg);
      transition: border-color 0.3s ease;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 105%;
      right: 50%;
      border-right: 7px solid var(--main-color);
      border-top: 7px solid transparent;
      transform: rotate(225deg);
      transition: border-color 0.3s ease;
      z-index: 2;
    }
  }
}
